@import "../../styles/base/color.scss";

.body {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__textContainer {
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
  &__inputContainer {
    position: relative;
    flex: 1;

    textarea {
      width: 100%;
      // padding-left: 15px;
      // padding-top: 15px;
      // padding-bottom: 15px;
    }
    &__arrow {
      position: absolute;
      top: 15px;
      right: 15px;

      svg {
        height: 27px;
        width: auto;
      }
    }
  }
}
