// Theme Colors
$color-white: #ffffff;
$color-black: #000;
$color-grey: #38414d;
$color-grey-border: #B6B4B4;
$color-grey-allocation-border: #CCC8C8;
$color-disabled: #f2f1f1;
$color-disabled-text: #929292;
$color-grey-light: #fafafa;
$color-grey-dark: #4f4f4f;
$color-dark-blue: #293749;
$color-red: #B62525;
$color-blue: #3a73d8;
$color-link-blue: #284162;
$color-link-visited: #7834BC;
$color-placeholder: #636161;
