// Theme Colors
$color-white: #ffffff;
$color-black: #000;
$color-grey: #38414d;
$color-grey-border: #b6b4b4;
$color-grey-allocation-border: #ccc8c8;
$color-disabled: #f2f1f1;
$color-disabled-text: #929292;
$color-grey-light: #fafafa;
$color-grey-dark: #4f4f4f;
$color-dark-blue: #293749;
$color-red: #b62525;
$color-blue: #3a73d8;
$color-light-blue: #7aa7f6;
$color-link-blue: #284162;
$color-link-visited: #7834bc;
$color-placeholder: #636161;
$color-yellow: #ffd600;
